*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    font-family:Verdana;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


body, button, button:hover{
    background-color: #161616;
}
.bar, footer, .container{
    background-color: #8E1616;
}



.nav{
    display: absolute;
}


nav video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    max-width: 130px;
    max-height: 60px;
    
}

.bar{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;

}


.bar li{
    display: inline-block;
    margin: 5px;
    transition: transform 0.3s, box-shadow 0.3s;   
}


.bar li:hover, button:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.bar a:hover{
    opacity: 0.3;
}

.nav-icon {
    display: block;
    max-width: 60px;
}





@media (max-width: 767px){

    .nav-text {
        display: none;
    }
    .nav-icon {
        display: block;
        max-width: 60px;
    }
    .social-media img{
        margin:10px;
        width:150px; 
        height:150px;
    }
    
}
@media (min-width:768px) and (max-width:1023px) {
    
    .nav-text {
        display: none;
    }
    .nav-icon {
        display: block;
        max-width: 60px;
    }

}

@media(min-width:1024px) {
    .nav-icon {
        display: none;
    }
    .nav-text {
        display: inline;
        font-size: 18px; 
    }
    .bar li{
        margin: 10px;
        padding: 15px;
    }
    
}











main{
    background-image: url(yoyo.jpg);
    margin: 10px;
    padding: 10px;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #161616;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border: 2px solid #161616;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s; 
    margin-bottom: 20px;
}


.social-media {
    display: flex;
    justify-content: center;
}
.fb{
    margin: 10px;
}
.map {
    margin-top: 10px;
}





footer{
    text-align: center;
    margin: 10px;
    padding: 5px;
}

