*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    border-radius: 5px;
    font-family:Verdana;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;

}
body{
    background-color: #161616;
}

.bar, .poison, .box, footer{
    background-color: #8E1616;
}

.nav{
    display: absolute;
}


nav video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    max-width: 130px;
    max-height: 60px;
    
}
.bar, .poison{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;

}
.poison li{
    display: inline-block;
    margin: 5px;
    width: 250px;
    padding: 10px;
    border: 2px solid black;
}

.bar li, .box{
    display: inline-block;
    margin: 5px;
    transition: transform 0.3s, box-shadow 0.3s;   
}


.bar li:hover, .poison li:hover, .box:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.bar a:hover{
    opacity: 0.3;
}

.nav-icon {
    display: block;
    max-width: 60px;
}
@media (max-width: 767px){

    .nav-text {
        display: none;
    }
    .nav-icon {
        display: block;
        max-width: 60px;
    }
    
}
@media (min-width:768px) and (max-width:1023px) {
    
    .nav-text {
        display: none;
    }
    .nav-icon {
        display: block;
        max-width: 60px;
    }
    
    .poison li{
        width: 260px;
        padding: 10px;
    }
}

@media(min-width:1024px) {
    .nav-icon {
        display: none;
    }
    .nav-text {
        display: inline; 
    }
    .bar li{
        margin: 10px;
        padding: 15px;
    }
    
}

.choices {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box {
    margin: 10px;
    padding: 20px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}


header{
    background-image: url(yoyo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10%;
}
h1{
    font-size: 20px;
    color:white;
}


footer{
    margin: 10px;
    padding: 5px;
}